body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #ffffff;
  background-color: #849d8f;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-navigation__list,
.modal-branch,
.user-interaction__list,
.slider__list,
.action__list,
.products__list,
.features__list {
    list-style: none;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background-color: #eb573b;
}

.main-navigation__list a {
    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.modal-branch a {
    font-size: 14px;
    line-height: 16px;
    color: #323232;
    border-bottom: none;
}

.modal-branch a:hover,
.modal-branch a:focus {
    background-color: #fbded7;
}

.modal-branch a:active {
    background-color: #f6b5a5;
}

.modal-branch__item--big {
    font-weight: bold;
}

.header-contacts__text {
    font-size: 14px;
    line-height: 16px;
}

.header-contacts__text--phone {
    font-size: 22px;
    line-height: 24px;
}

.slider__list h3 {
    font-size: 60px;
    line-height: 60.35px;
    text-align: center;
}
.slider__button {
    font-size: 32px;
    line-height: 44px;
}

.slider__block {

}

.action__list h3 {
    font-size: 35px;
    line-height: 41px;
    font-weight: bold;
}

.action__list p {
    font-size: 18px;
    line-height: 22px;
}

.action__column1 {
    background-color: #4c0914;
    background-image: url("../img/bg-crimson-back.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50%;
}

.action__column2 {
    background-color: #43281c;
    background-image: url("../img/bg-chocolate-back.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    width: 50%;
}

.action__button {
    font-size: 18px;
    line-height: 24px;
}

.products__price {
    font-size: 45px;
    line-height: 45px;
    text-shadow: 1px 1px 2px grey;
}

.ruble {
    font-size: 45px;
    line-height: 45px;
    text-shadow: 1px 1px 2px grey;
    background-image: url("../img/icon-ruble.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.products__price--units {
    font-size: 30px;
    line-height: 45px;
}

.products__name {
    text-decoration: none;
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.products__button {
    font-size: 18px;
    line-height: 24px;
}

.features {
    background-color: #eaddc1;
    background-image: url("../img/bg-waffle.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.features__lead {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.features__item {
    color: #323232;
}

/* .features__item::before {
    position: absolute;
    content: "";
    background-image: url("../img/icon-ice-cream.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
} */

.blog-news {
    background-color: #ffffff;
    background-image: url("../img/bg-strawberry-back.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.blog-news__head {
    color: #323232;
    font-size: 16px;
    line-height: 22px;
}

.blog-news__all {
    font-size: 24px;
    line-height: 30px;
    color: #323232;
    text-decoration: none;
    border-bottom: 2px solid #323232;
}
